@font-face {
    font-family: 'Kontemporary';
    src: url("/Users/erinkates/Desktop/sei-dahlia/projects/Tamagatchi-Mini-Project-Warrior-Builder/assets/Kontemporary.ttf")
}
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgoldenrod;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-size: 50px;
    color:gold;
    text-shadow: 2px 2px 2px brown;
    margin: 0px 0px 0px 0px;
    top: 0px;
    padding: 5px;
    font-family: 'Kontemporary';
}

.container{
	width: 100%;
	height: 100vh;
	background: gold;
	display: flex;
	align-items: center;
	justify-content: center;
}
#start {
	padding: 10px 60px;
	margin: 10px;
	background-color:darkorange;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 32px;
	font-weight: 500;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	font-family:'Kontemporary' ;
	color:gold ;
}

#instructionbtn {
	padding: 10px 60px;
	margin: 10px;
	background-color:darkorange;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 32px;
	font-weight: 500;
	border-radius: 30px;
	align-items: center;
	justify-content: center;
	font-family:'Kontemporary' ;
	color:gold ;
}

.popup {
	width: 400px;
	background-color: coral;
	border-radius: 6px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 30px 30px;
	color:floralwhite ;
	font-size: 20px;
	font-family:'Kontemporary' ;
	font-weight: lighter;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup{
	visibility: visible;
}

.popup h2 {
	text-align: center;
	margin-top: 10px;
}


#canvas, #canvas1 {
	background-image: url('assets/parallax_forest_pack web/layers/parallax-forest-back-trees.png');
	border: 5px solid gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#metrics {
	padding: 5px;
	text-align: center;
	justify-content: center;
	font-size: 30px;;
	font-family: 'Western';
	position: fixed;
    bottom: 3%;
	left: 50%;
}

#eatButton, #sleepButton, #closeinstructionbtn {
	padding: 10px 60px;
	margin: 10px;
	background-color:darkorange;
	border: 1px solid coral;
	font-size: 28px;
	font-weight: 500;
	border-radius: 30px;
	font-family:'Kontemporary' ;
	color:gold ;
	text-align: center;
}

#layer1, #layer2, #layer3, #layer4 {
	display: none;
}





















