@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Kontemporary';
    src: url("assets/Kontemporary.ttf")
}


* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgoldenrod;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-size: 50px;
    color:gold;
    text-shadow: 2px 2px 2px brown;
    margin: 0px 0px 0px 0px;
    top: 0px;
    padding: 5px;
    font-family: 'Kontemporary';
}

.container{
	width: 100%;
	height: 100vh;
	background: gold;
	display: flex;
	align-items: center;
	justify-content: center;
}
#start {
	padding: 10px 60px;
	margin: 10px;
	background-color:darkorange;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 32px;
	font-weight: 500;
	border-radius: 30px;
	font-family: 'Bebas Neue', sans-serif;
	color:gold ;
	position: fixed;
    bottom: 11%;
    right: 72%;
}

#instructionbtn {
	padding: 10px 60px;
	margin: 10px;
	background-color:darkorange;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 32px;
	font-weight: 500;
	border-radius: 30px;
	align-items:baseline;
	justify-content: center;
	color:gold ;
	position: fixed;
    bottom: 11%;
    left: 72%;
	font-family: 'Bebas Neue', sans-serif;
}

.popup {
	width: 700px;
	background-color: rgb(139, 94, 45);
	border-radius: 5px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 30px 30px;
	color:floralwhite ;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup{
	visibility: visible;
}

.popup h2 {
	text-align: center;
	margin-top: 10px;
}


#monster1 {
	display: none;
	position: fixed;
	width: 200px;
	height: 200px;
	justify-content: center;
	right: 60%;
	top: 40%;
}
#monster2 {
	display: none;
	position: fixed;
	width: 250px;
	height: 250px;
	justify-content: center;
	right: 60%;
	top: 40%;
}
#monster3 {
	display: none;
	position: fixed;
	width: 300px;
	height: 400px;
	justify-content: center;
	right: 60%;
	top: 20%;
}
#monster4 {
	display: none;
	position: fixed;
	width: 270px;
	height: 300px;
	justify-content: center;
	right: 60%;
	top: 40%;
}




#canvas, #canvas1 {
	background-image: url('assets/parallax_forest_pack web/layers/parallax-forest-back-trees.png');
	border: 5px solid gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#metrics {
	padding: 5px;
	text-align: center;
	justify-content: center;
	font-size: 30px;;
	font-family: 'Kontemporary';
	position: fixed;
    bottom: 50%;
	left: 50%;
}

#eatButton, #sleepButton, #closeinstructionbtn {
	padding: 10px 60px;
	margin: 10px;
	background-color:darkorange;
	border: 1px solid coral;
	font-size: 28px;
	font-weight: 500;
	border-radius: 30px;
	font-family: 'Bebas Neue', sans-serif;
	color:gold ;
	text-align: center;
}





#music {
    background-color: gold;
    border-radius: 5px;
    margin: 50px;
    padding: 10px;
    position: fixed;
    bottom: 5%;
    left: 35%;
	right: 65%;
} 

#music1 {
    background-color: gold;
    border-radius: 5px;
    margin: 50px;
    padding: 10px;
    position: fixed;
    bottom: 5%;
    left: 15%;
	right: 85%;
} 
















